.score-and-buttons {
    display: flex;
    justify-content: space-between;
}

.score {
    font-size: 100px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
